<h1>Display your Lucky Numbers</h1>
<body>
  <p> Here are your numbers:
    <ul>
      <%= @display %>
    </ul>
      <ul>
      <%= @display %>
    </ul>
      <ul>
      <%= @display %>
    </ul>
      <ul>
      <%= @display %>
    </ul>
      <ul>
      <%= @display %>
    </ul>
  </p>
</body>